/* your styles go here */
body{
    background-color: #FFF !important;
}
.content-column-content img{
    width: 100% !important;
}



/* @media (min-width: 576px) {
    img{
        width: 640px;
    }
}

@media (min-width: 768px) {
    img{
        width: 640px;
    }
}

@media (min-width: 992px) {
    img{
        width: 640px;
    }
}

@media (min-width: 1200px) {
    img{
        width: 640px;
    }
} */