/* your styles go here */
.container-fluid{
    background-color: #FFF !important;
}
.content-column-content img{
    width: 100% !important;
}
.btn{
    padding: 6px 6px !important;
    /* font-size: 16px;
    line-height: 1.50; */
    border-radius: 100px !important;
}
.img-detail img{
    padding-bottom: 24px;
}