/* your styles go here */
.container-fluid{
    background-color: #FFF !important;
}
.content-column-content img{
    width: 100% !important;
}
.btn {
    font-weight: 400;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding: 6px 6px;
    /* font-size: 16px;
    line-height: 1.50; */
    border-radius: 100px;
}



/* @media (min-width: 576px) {
    img{
        width: 640px;
    }
}

@media (min-width: 768px) {
    img{
        width: 640px;
    }
}

@media (min-width: 992px) {
    img{
        width: 640px;
    }
}

@media (min-width: 1200px) {
    img{
        width: 640px;
    }
} */